<%- include("partials/header") -%>


  <% var x=0; %>

  <% allposts.forEach(function(i){ %>
    <div class="card">
      <div class="card-heading">
        <h1><%= i.title %></h1>
      </div>
      <div class="card-content">
        <p><%= i.content.substring(0,100)+"..." %><a href="/post/<%= i.title %>" class="readmore">read more</a></p>
      </div>
      <hr>
      <div class="like"><i class="far fa-thumbs-up  <%=x%>"></i><span class="like<%= x %> lcnt">1</span></div>
      <div class="delete"><a href="/delete-post/<%= i._id %>" class="delete"><i class="fas fa-trash"></i></a></div>
    </div>
      <% x++ }); %>

      <span class="allposts_size"><%= x %></span>
    
  
<%- include("partials/footer") -%>